# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.Debug
*.Release
blogapp/controllers/Makefile
blogapp/helpers/Makefile
blogapp/views/_src/Makefile
blogapp/views/Makefile
blogapp/models/Makefile
blogapp/log/treefrog.log
blogapp/log/query.log
blogapp/log/app.log
blogapp/log/access.log
